@import './base.scss';

.stack {
  text-align: center;
  background-color: $bg-top;

  & .stack__item {
    display: inline-block;
    margin: 10px;
    text-align: center;

    & .stack__img {
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto;
      width: 70px;
      height: 70px;
    }
  }
}
