$bg-top: rgb(255, 255, 255);
$bg-bottom: rgb(223, 235, 245);
$font: rgb(53, 78, 91);

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $font;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;

  & h1 {
    font-size: 3.2rem;
    text-shadow:
      1px 1px 2px $font,
      0 0 2em $font,
      0 0 1em $font;
  }

  & a {
    color: $font;
  }

  @media (max-width: 400px) {
    font-size: 1.8rem;
  }
}

.wrapper {
  position: relative;
  max-width: 1000px;
  padding: 60px 40px 0;
  margin: 0 auto;
  background-color: $bg-bottom;
  border-radius: 30px;

  & > * {
    padding: 35px 70px 20px;

    @media (max-width: 515px) {
      padding: 20px 10px;
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;

  & .header__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-bottom;

    & .header__logo {
      text-align: center;
      font-size: 24px;
      border: 2px solid $font;
      border-radius: 7px;
      padding: 7px;
    }

    & .header__item {
      list-style: none;
      margin: 0 7px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  background-color: $bg-top;

  & > * {
    display: inline-block;
    height: fit-content;
  }

  @media (max-width: 760px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.intro__my-foto {
  width: 250px;
  height: 250px;
  background-image: url('./assets/foto.png');
  background-size: cover;
  background-repeat: no-repeat;

  border: 10px solid $bg-top;

  @media (max-width: 760px) {
    order: -1;
  }

  @media (max-width: 360px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 320px) {
    width: 60vw;
    height: 60vw;
  }
}

.about-me {
  text-align: center;
  background-color: $bg-bottom;

  p {
    text-align: left;
    margin-bottom: 0;
    line-height: 1.6;
  }
}

.stack {
  text-align: center;
  background-color: $bg-top;

  & .stack__item {
    display: inline-block;
    margin: 12px;
    text-align: center;

    & .stack__img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 70px;
      height: 70px;
    }
  }
}

.projects {
  text-align: center;
  background-color: $bg-bottom;

  & a {
    color: $font;
    text-decoration: none;
  }

  & h4 {
    margin-top: 10px;
  }
}

.projects__items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px dashed $bg-top;
  padding-top: 10px;

  & > h4,
  h5 {
    cursor: pointer;
  }

  h4:hover,
  h4:focus,
  h4:active {
    text-decoration: underline;
    color: rgb(16, 29, 150);
    opacity: 60%;
  }
}

.projects__item {
  display: inline-block;
  width: 300px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $bg-top;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px $bg-top;
  margin-bottom: 15px;
  cursor: pointer;

  // &:hover,
  // &:focus,
  // &:active {
  //   opacity: 70%;
  // }

  @media (max-width: 515px) {
    width: 250px;
  }

  @media (max-width: 375px) {
    width: 200px;
    height: 80px;
  }

  @media (max-width: 320px) {
    width: 60vw;
    height: 70px;
  }
}

.intro:hover,
.stack:hover,
.contacts:hover,
.projects__item:hover {
  animation-duration: 0.5s;
  animation-name: scale-animation;
}

@keyframes slide {
  25% {
    transform: translateX(-5px) translateY(-5px);
  }

  75% {
    transform: translateX(5px) translateY(5px);
  }
}

.intro__my-foto:hover,
h1:hover,
h2:hover,
h4:hover {
  animation-duration: 0.5s;
  animation-name: scale-animation;
}

.contacts {
  padding-bottom: 20px;
  background-color: $bg-top;
}

@keyframes scale-animation {
  50% {
    transform: scale(1.02);
  }
}

.modal {
  display: none;
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  width: 300px;
  height: 300px;
  z-index: 10;
  background-color: $bg-top;
  border: 2px solid $font;
  text-align: center;
  font-weight: 400;

  &.active {
    display: block;
  }

  & .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2px;
    width: 25px;
    height: 20px;
    border: 2px solid $font;
    text-align: center;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  height: fit-content;
  background-color: $bg-bottom;
}
