html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(16, 7, 44);
  color: rgb(220, 217, 245);
  font-size: 2rem;
}

.wrapper {
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto;

  & > * {
    border: 1px solid white;
    padding: 50px 70px;
  }
}

.intro {
  display: flex;
  justify-content: space-between;

  & > * {
    display: inline-block;
    height: 250px;
  }
}

.intro__my-foto {
  width: 350px;
  background-image: url('./assets/images/foto2.png');
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow:
    inset 10px 10px 30px rgb(16, 7, 44),
    inset -10px -10px 30px rgb(16, 7, 44);
}

.about-me {
  text-align: center;

  p {
    text-align: left;
  }
}

.my-works {
  text-align: center;
  & a {
    color: rgb(220, 217, 245);
    text-decoration: none;
  }
}

.my-works__items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my-works__item {
  display: inline-block;
  width: 350px;
  min-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;

  h2 {
    width: 100%;
  }

  &.race {
    background-image: url('./assets/images/race.png');
  }

  &.minesweeper {
    background-image: url('./assets/images/minesweeper.png');
  }

  &.selector {
    background-image: url('./assets/images/selector.png');
  }

  &.keyboard {
    background-image: url('./assets/images/keyboard.png');
  }

  &.shelter {
    background-image: url('./assets/images/shelter.png');
  }
}
